<mat-card-title></mat-card-title>
<mat-card-content>
  <mat-form-field>
    <input placeholder="Company" matInput [matAutocomplete]="cAuto">
    <mat-autocomplete #cAuto="matAutocomplete">
      <mat-option *ngFor="let c of companies | async" [value]="c" [innerHTML]="c"></mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Type" matInput [matAutocomplete]="tAuto">
    <mat-autocomplete #tAuto="matAutocomplete">
      <mat-option *ngFor="let t of types" [value]="t" [innerHTML]="t"></mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-card-content>