<mat-card-content>
  <mat-card-title>New Item</mat-card-title>
  <mat-card-content [formGroup]="group" fxLayout="row" fxLayout.xs="column">
    <mat-form-field fxFlex="20" fxFlexOffset="5">
      <input placeholder="Name" matInput [(ngModel)]="ng.name" formControlName="name">
    </mat-form-field>
    <mat-form-field fxFlex="20">
      <input placeholder="Company" matInput [(ngModel)]="ng.company" formControlName="company" [matAutocomplete]="co">
      <mat-autocomplete #co="matAutocomplete">
        <mat-option *ngFor="let c of companies" [value]="c" [innerHTML]="c"></mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field fxFlex="20">
      <input placeholder="Type" matInput [(ngModel)]="ng.type" formControlName="type" [matAutocomplete]="ty">
      <mat-autocomplete #ty="matAutocomplete">
        <mat-option *ngFor="let t of types" [value]="t" [innerHTML]="t"></mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card-content>
  <mat-card-content fxLayout="row" fxLayout.xs="column" [formGroup]="group">
    <mat-form-field *ngIf="ng.type==='backpack'" fxFlex="20" fxFlexOffset="5">
      <input placeholder="Load Weight" matInput [(ngModel)]="ng.load" formControlName="load">
    </mat-form-field>
    <mat-form-field *ngIf="ng.type==='backpack'" fxFlex="20">
      <input placeholder="Volume" matInput [(ngModel)]="ng.volume" formControlName="volume">
    </mat-form-field>
    <mat-form-field *ngIf="ng.type==='quilt'||ng.type==='jacket'" fxFlex="20" fxFlexOffset="5">
      <input matInput placeholder="Fill" [(ngModel)]="ng.fill" formControlName="fill">
    </mat-form-field>
    <mat-form-field *ngIf="ng.type==='quilt'||ng.type==='jacket'" fxFlex="20">
      <input matInput placeholder="Temperature Range" [(ngModel)]="ng.tempRange" formControlName="tempRange">
    </mat-form-field>
    <mat-form-field *ngIf="ng.type==='quilt'" fxFlex="20">
      <input matInput placeholder="R-value" [(ngModel)]="ng.rVal" formControlName="rVal">
    </mat-form-field>
  </mat-card-content>
  <mat-card-title>Material(s) <button mat-icon-button (click)="newMaterial()"><mat-icon>add</mat-icon></button></mat-card-title>
  <mat-card-content fxLayout="column">
    <mat-card-content *ngFor="let m of materials; let i = index" fxLayout="row" fxLayout.xs="column">
      <button mat-icon-button (click)="materials.pop(m)" *ngIf="materials.length>1"><mat-icon color="warn">remove</mat-icon></button>
      <mat-form-field fxFlex="20" fxFlexOffset="5">
        <input placeholder="Material" matInput [(ngModel)]="matName[i]">
      </mat-form-field>
      <mat-form-field fxFlex="20">
        <input placeholder="Factory Weight" matInput [(ngModel)]="m.weight" type="number">
      </mat-form-field>
      <mat-form-field fxFlex="20">
        <input placeholder="Price" matInput [(ngModel)]="m.price">
      </mat-form-field>
      <mat-form-field fxFlex="20">
        <input placeholder="Product Page URL" matInput [(ngModel)]="m.url" type="url">
      </mat-form-field>
    </mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addItem()">Add</button>
  </mat-card-actions>
</mat-card-content>