<mat-toolbar color="primary">
  <!-- <span>Ultralight Repo</span> -->
  <a mat-button routerLink="packs" *ngIf="user.name">Packs</a>
  <a mat-button routerLink="search">Search</a>
  <a mat-button routerLink="addNewItem" *ngIf="user.name">Add New Item</a>
  <span class="tab-filler"></span>
  <button mat-icon-button routerLink="settings"><mat-icon>settings</mat-icon></button>
  <a mat-button routerLink="about">About</a>
  <button mat-button (click)="logout()" *ngIf="user.name">Logout</button>
  <mat-expansion-panel style="z-index: 9999" (opened)="panel=true" (closed)="panel=false" [style.margin-top.px]="panel ? 195:0" disabled="true" [expanded]="extend" *ngIf="!user.name">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <button mat-button (click)="extend = !extend">Login</button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-login></app-login>
  </mat-expansion-panel>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-toolbar class="sidenav">
      Test
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content style="height: -webkit-fill-available;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
