<div class="margined">
  <mat-card-content>
    <mat-form-field>
      <input placeholder="Company" matInput [matAutocomplete]="cAuto" [(ngModel)]="company" (ngModelChange)="applyFilter('company', $event)">
      <mat-autocomplete #cAuto="matAutocomplete">
        <mat-option *ngFor="let c of companies" [value]="c" [innerHTML]="c"></mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Type" matInput [matAutocomplete]="tAuto" [(ngModel)]="type" (ngModelChange)="applyFilter('type', $event)">
      <mat-autocomplete #tAuto="matAutocomplete">
        <mat-option *ngFor="let t of types" [value]="t" [innerHTML]="t"></mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Material" matInput [(ngModel)]="material" (ngModelChange)="applyFilter('material', $event)">
    </mat-form-field>
    <mat-form-field fxFlex="4">
      <mat-select [(ngModel)]="w_op" (ngModelChange)="applyFilter('weight', weight, $event, true)">
        <mat-option></mat-option>
        <mat-option value="===">=</mat-option>
        <mat-option value="&#62;">&#62;</mat-option>
        <mat-option value="&#60;">&#60;</mat-option>
        <mat-option value="&#62;=">&#62;=</mat-option>
        <mat-option value="&#60;=">&#60;=</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Weight" matInput type="number" [(ngModel)]="weight" (ngModelChange)="applyFilter('weight', $event, w_op, true)">
    </mat-form-field>
    <mat-form-field fxFlex="4">
      <mat-select [(ngModel)]="p_op" (ngModelChange)="applyFilter('price', price, $event, true)">
        <mat-option></mat-option>
        <mat-option value="===" selected="true" >=</mat-option>
        <mat-option value="&#62;">&#62;</mat-option>
        <mat-option value="&#60;">&#60;</mat-option>
        <mat-option value="&#62;=">&#62;=</mat-option>
        <mat-option value="&#60;=">&#60;=</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Price" matInput [(ngModel)]="price" (ngModelChange)="applyFilter('price', $event, p_op, true)">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Search</button>
  </mat-card-actions>
  <mat-card-content>
    <div class="mat-table">
      <div class="mat-header-row">
        <div class="mat-header-cell header-cell">Name</div>
        <div class="mat-header-cell header-cell">Company</div>
        <div class="mat-header-cell header-cell">Type</div>
        <div class="mat-header-cell header-cell">Material</div>
        <div class="mat-header-cell header-cell">Weight</div>
        <div class="mat-header-cell header-cell">Product Page</div>
        <div class="mat-header-cell header-cell">Price</div>
      </div>
      <div class="mat-row" *ngFor="let g of filteredGear">
        <div class="mat-cell">{{g.name}}</div>
        <div class="mat-cell">{{g.company}}</div>
        <div class="mat-cell">{{g.type}}</div>
        <div class="mat-cell">{{g.material}}</div>
        <div class="mat-cell">{{g.weight}}</div>
        <div class="mat-cell"><a [attr.href]="g.url"><mat-icon>open_in_new</mat-icon></a></div>
        <div class="mat-cell">${{g.price}}</div>
      </div>
    </div>
  </mat-card-content>
</div>