.mat-table {
  overflow: auto;
  max-height: 500px;
}
.mat-icon {
  cursor: pointer;
}
.mat-header-row, .mat-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
}
.mat-header-row {
  min-height: 56px;
}
.mat-header-row, .mat-row {
  border-bottom-color: rgba(0,0,0,.12);
}
.header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}
.mat-header-cell {
  color: rgba(0,0,0,.54);
}
.mat-header-cell {
  font-size: 12px;
  font-weight: 500;
}
.mat-cell, .mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}
.margined {
  margin: 1% 3%;
}